<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>예시</h1>
    <span th:text="${data}">html data</span>

    <h1>1. 표준 HTML 주석</h1>
    <!--
    <span th:text="${data}">html data</span>
    -->

    <h1>2. 타임리프 파서 주석</h1> <!-- 주로 사용 함 -->
    <!--/* [[${data}]] */-->
    <!--/*-->

    <span th:text="${data}">html data</span>
    <!--*/-->

    <h1>3. 타임리프 프로토타입 주석</h1> <!-- 파일을 열때는 주석처리로 보이지 않지만 thymeleaf랜더링을 거칠시에는 보여짐 -->
    <!--/*/
    <span th:text="${data}">html data</span>
    /*/-->
</body>
</html>